<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class = "card-body">
          <div class="card">


            <div class="balance-header">
              <h1>Pending Payments</h1>
              <div class="balance-holder">
                <span class="balance"><%= user_currency %> <%= format_amount_to_currency(cargo_pay_to_lorryz @shipments) rescue ""%></span>
              
              </div>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
              <table id="shipments_listing" class="table table-bordered table-striped" data-page-length='10'>
                <thead>
                <tr>
                  <th>Shipment Number</th>
                  <th>Payment Mode</th>
                  <th>Invoice Date</th>
                  <th>Amount</th>
                  <th class = "hide">Actions </th>
                </tr>
                </thead>
                <tbody>
                <% @shipments.each do |s|%>
                    <tr>
                      <td>
                        <strong><%= s.id%></strong>
                        <div><%=  s.try(:pickup_date).strftime(display_date_format) rescue "" %></div>
                      </td>
                      <td><%= s.try(:payment_option).try(:camelcase)  %></td>
                      <td><%= s.try(:display_date).strftime(display_date_format) rescue "" %></td>
                      <td> <%= shipment_currency s %>
                        <% if s.state == "cancel" %>
                          <%= format_amount_to_currency(s.cancel_penalty) %>
                        <%elsif s.state == "completed" %>
                          <%= format_amount_to_currency(s.amount) %>
                        <%end %>
                      </td>
                      <td class = "hide">
                        <%#= link_to "View",cargo_shipment_path(s) , class: "btn btn-success btn-flat" %>
                        <% if ["cancel", "completed"].include? s.state %>
                            <%# link_to "Rate", ratings_shipment_path(shipment_id: s.id),remote: :true, class: "btn btn-warning btn-flat" %>
                        <%end%>
                      </td>
                    </tr>
                <%end%>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="3" style="text-align:right">Total:</th>
                    <th> <%= user_currency %> <%=format_amount_to_currency(cargo_pay_to_lorryz @shipments)%></th>
                  </tr>
<!--                  <tr>-->
<!--                    <td colspan="3" style="text-align:right">VAT:</td>-->
<!--                    <td><%#= user_currency %> <%#=format_amount_to_currency(@shipments.sum(:amount_tax))%></td>-->
<!--                  </tr>-->
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>`