<!-- banner begins -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
 <script>
$(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
        items:3,
        itemsDesktop:[1000,1],
        itemsDesktopSmall:[979,1],
        itemsTablet:[768,1],
        pagination:true,
        navigation:false,
        navigationText:["",""],
        slideSpeed:1000,
        autoPlay:true
    });
});
</script>
<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>

<body style="background-image: url('https://image.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg'); background-repeat:none;background-size: cover;">
<div class="row" style="margin-top:5%;">
<div class="col mb-4"></div>

<div class="card-deck">
<div class="col mb-4">
  <div class="card" style="background-color: #2E4053; background:image_url('https://image.freepik.com/free-photo/road-transportation-by-truck_1426-1807.jpg');">
    <img class="card-img-top" src="https://image.freepik.com/free-photo/road-transportation-by-truck_1426-1807.jpg" alt="Card image cap">
    <div class="card-img-overlay">
      <h5 class="card-title" style="text-align:center; margin-top:50%;"><%if current_user.present? %>
              <a  class="btn btn-info" style="width:16rem;"  href="<%= dashboard_index_path  %>">Dashboard</a>
             
            <%else%>
              <%#debugger %>
              <a  class="btn btn-info" style="width:16rem;" <%= request.path == "/users/sign_in" ? "active" : "" %>" href="<%= user_session_path %>">Login</a>
             
            <%end%></h5>
     
    </div>
    </div>
    
  </div>
  
  </div>
  <div class="col mb-4"></div>
  </div>
  
  
  
  
 </body> 
<script>
  $(".do_it_link").click(function() {
    $(this).attr("href", function() {
      return "/dashboard/email/?pickup_building_name=" + $('.pickup_building_name').val()+"&pickup_lat=" + $('.pickup_lat').val()+"&pickup_lng=" + $('.pickup_lng').val()+"&pickup_city=" + $('.pickup_city').val() +"&pickup_country=" + $('.pickup_country').val()  +"&drop_building_name=" + $('.drop_building_name').val() +"&drop_lat=" + $('.drop_lat').val()+"&drop_lng=" + $('.drop_lng').val()+"&drop_city=" + $('.drop_city').val()+"&drop_country=" + $('.drop_country').val()+"&vehicle_type=" + $('.vehicle_type').val();
    });
  });
</script>
