<div class="form-group">
	<%= f.label "*" , class: "label_required"%>
	<%= f.label :pickup_location%>
  <%=f.text_field :pickup_location , class: "form-control google_auto_complete" , placeholder: "*Pickup Location", required: true ,onFocus: call_geolocate %>
  <%=f.hidden_field :pickup_lat %>
  <%=f.hidden_field :pickup_lng %>
	<%= f.hidden_field :pickup_city%>
	<%= f.hidden_field :country_id, value: @company.owner.try(:country_id)%>
	<%= f.hidden_field :company_id, value: @company.id%>
</div>
<div class = "form-group">
	<%= f.label "*" , class: "label_required"%>
	<%= f.label :pickup_building_name %>
	<%=f.text_field :pickup_building_name , class: "form-control" , placeholder: "*Pickup building name", required: true%>
</div>
<div class="form-group">
	<%= f.label "*" , class: "label_required"%>
	<%= f.label :drop_location%>
  <%=f.text_field :drop_location , class: "form-control google_auto_complete" , placeholder: "*Dropoff Location" , requried: true,onFocus: call_geolocate  %>
  <%=f.hidden_field :drop_lat %>
  <%=f.hidden_field :drop_lng %>
	<%= f.hidden_field :drop_city%>
</div>
<div class = "form-group">
	<%= f.label "*" , class: "label_required"%>
	<%= f.label :drop_building_name %>
	<%=f.text_field :drop_building_name , class: "form-control" , placeholder: "*Drop building name ", required: true %>
</div>
<div class="form-group has-feedback">
	<%= f.label "*" , class: "label_required"%>
	<%= f.label :rate%>
  <%= f.number_field :rate, class: "form-control greater_than_zero", placeholder: "* Rate", step: :any ,required: :true %>
</div>
<div class="form-group has-feedback">
	<%= f.label "*" , class: "label_required"%>
	<%= f.label :vehicle_type_id, "Specify Type of Vehicle Required?" %>
	<%= f.collection_select :vehicle_type_id, @vehicle_types, :id, :name,{include_blank: "Specify Type of Truck Required?"},{class: "form-control" , required: true} %>
</div>
<div class="form-group has-feedback">
	<%= f.label "*" , class: "label_required"%>
	<%= f.label :unloading_time, "Unloading Time at Dropoff (Hours)" %>
	<%=f.number_field  :unloading_time , placeholder: "Unloading Time*",step: :any, class: "form-control" , required: true%>
</div>
<div class="form-group has-feedback">
	<%= f.label "*" , class: "label_required"%>
	<%= f.label :loading_time ,"Loading Time at Pickup (Hours)"%>
	<%=f.number_field  :loading_time , placeholder: "Loading Time*",step: :any,	 class: "form-control",  required: true%>
</div>
<div>
  <%= f.submit action, class: "btn btn-primary btn-block btn-flat" %>
</div>