<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Change Destination Requests</h3>
              
            </div>
            <div class = "card-body">
              <table class="table table-bordered table-striped admin_listings" data-page-length='10'>
                <thead>
                <tr>
                  <% columns = ["shipment id","Old Destination","New Destination", "Actions"]
                     columns.each do |col|
                  %>
                    <th><%= col.humanize %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @destinations.each do |destination|%>
                  <% shipment = destination.shipment %>
                  <tr>
                    <td> <%= link_to destination.shipment_id, admin_shipment_path(shipment.id), class: "" %>    </td>
                    <td> <%= shipment.drop_location %>     </td>
                    <td> <%= destination.address %>     </td>
                    <td>
                      <%= link_to "Accept", admin_change_destination_request_path(destination),method: :put, class: "btn btn-success btn-block" %>
                      <%= link_to "Reject", admin_change_destination_request_path(destination),method: :delete, class: "btn btn-info btn-block" %>
                    </td>

           
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>