  <div class="content-wrapper" style="min-height: 539px;background-color: #eee">
    <section class = "content">
    <div >
     
    </div>
      <div>
    <div class = "container-fluid">
      <br>
      <%@blogs.sort_by {|b| b.id}.each_with_index do |blog, index|%>
        <div class="blog-index-view">
          <ul>
            <li>
              <!--<img src="<%=url_for(blog.avatar)%>)" style="width:20px;height:20px; align:middle;">-->
              <img src="<%=url_for(blog.avatar)%>)">
              <h3><%= link_to blog.try(:title), blog_path(blog) , style: "color: black;"%></h3>
              <p><%= blog.try(:initial_summary) %>..<%= link_to " Readmore", blog_path(blog)%></p>
            </li>
          </ul>
        </div>
      <%end%>
      </div>
      </div>
    </section>
  </div>

