    <div class="blog-view">
        <h1 ><%= @blog.try(:title) %></h1>
        <div>
            <div>
                <p>Published: <%= @blog.updated_at.strftime("%d %B %Y") %></p>        
            </div>
            <div>    
                <h6><i><%= @blog.try(:initial_summary) %></i></h6>
            </div>
            <div>
                <img src="<%=url_for(@blog.avatar)%>)" style="width:920px;height:auto; align:center;">     
            </div>
            <div >
                <div >
                    <div class = "summernote-bs4" >
                        <%= raw @blog.try(:description) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
