<div style="padding: 15px">
  <p>Hello Admin,</p>
  <p>
    A new user has joined. Please contact to know further.
  <br>
    User Details: <br>

    
     Name: <%= @customer[:first_name] %> <%= @customer[:last_name] %> <br>
     Mobile : <%= @customer[:mobile]%> <br>
     Email :<%= @customer[:email]%> <br>
     Country # <%= @customer_country%> <br>
     
     

  </p>
</div>