<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title"><%=action%> Shipment</h3>
          </div>
          <form role="form">
            <div class="card-body">
              <% unless action == "Edit" %>
                <%=f.hidden_field :state_event ,value:  "posted" %>
              <%end %>
              <%=f.hidden_field :company_id ,value:  current_user.company.id %>
              <%if current_user.company.is_contractual? %>
                <div class="form-group">
                  <%= f.label "Select a contract"%>
                  <%= f.collection_select :location_id ,current_user.company.locations, :id,:contractual_locations ,{include_blank: "New Destination without Contract"},{class: "form-control" , onchange: "populate_data()"} %>
                </div>
                <%= f.hidden_field :amount%>
              <%end%>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :pickup_location, "Pickup Location Address" %>
                <%=f.text_field :pickup_location , class: "form-control google_auto_complete" , placeholder: "Pickup Location Address*", required: true , onFocus: call_geolocate %>
                <%=f.hidden_field :pickup_lat %>
                <%=f.hidden_field :pickup_lng %>
                <%=f.hidden_field :pickup_city %>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :pickup_building_name, "Pickup Location Name" %>
                <%=f.text_field :pickup_building_name , class: "form-control" , placeholder: "Pickup Location Name", required: true %>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :drop_location, "Dropoff Location Address" %>
                <%=f.text_field :drop_location , class: "form-control google_auto_complete" , placeholder: "Dropoff Location  Address*" , required: true, onFocus: call_geolocate  %>
                <%=f.hidden_field :drop_lat %>
                <%=f.hidden_field :drop_lng %>
                <%=f.hidden_field :drop_city %>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :drop_building_name, "DropOff Location Name" %>
                <%=f.text_field :drop_building_name , class: "form-control" , placeholder: "DropOff Location Name", required: true %>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :pickup_date , "Pickup Date" %>
                <%=f.text_field :pickup_date , class: "form-control datepicker" , autocomplete: :off ,placeholder: "Pick up Date*" , required: true%>
              </div>
              <div class="bootstrap-timepicker">
                <div class="form-group">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :pickup_time , "Pickup Time"%>
                  <div class="input-group">
                    <%= f.text_field :pickup_time , class: "form-control timepicker", autocomplete: :off , placeholder: "Pick up Time*", required: true %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :loading_time ,"Loading Time at Pickup (Hours)"%>
                <%=f.text_field :loading_time , placeholder: "Loading Time*", class: "form-control",  required: true%>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :unloading_time, "Unloading Time at Dropoff (Hours)" %>
                <%=f.text_field :unloading_time , placeholder: "Unloading Time*", class: "form-control" , required: true%>
              </div>
<!--              <div class="form-group">-->
              <%#= f.label :expected_drop_off , "Expected Dropoff Date"%>
                <%#=f.text_field :expected_drop_off , class: "form-control datepicker", autocomplete: :off  , placeholder: "Expected Dropoff Date" %>
<!--              </div>-->
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :vehicle_type_id, "Specify Type of Vehicle Required?" %>
                <%= f.collection_select :vehicle_type_id, @vehicle_types, :id, :name,{include_blank: "Specify Type of Truck Required?"},{class: "form-control" , required: true} %>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :no_of_vehicles, "Number of Vehicles Required" %>
                <i class="fa fa-question-circle fa-1x" data-placement =  "right"  title= "Need to book more than 20 trucks"></i>
                <div class = "input-group">
                  <%=f.select :no_of_vehicles , Shipment::NO_OF_VEHICLES ,{include_blank: "Number of Trucks Required?"}, {class: "form-control", "data-placement": "right" ,title: "Need to book more than 20 trucks", required: true}%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cargo_description %>
                <%=f.text_area :cargo_description , class: "form-control", placeholder: "Cargo Description*", required: true%>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cargo_packing_type , "Cargo Packaging Type"%>
                <%=f.select :cargo_packing_type , Shipment::CARGO_PACKING_TYPES ,{include_blank: "Cargo Packaging Type*"}, {class: "form-control", required: true}%>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :payment_option, "Choose the payment option" %>
                 <%=f.select :payment_option ,current_user.company.get_payment_options ,{include_blank: "Choose Payment Options*"}, {class: "form-control", required: true}%>
              </div>
              <div class = "row prorate hide">
                <div class="col-md-12 col-sm-6 col-12">
                  <div class="info-box bg-info">
                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Estimated Approx. Fare</span>
                      <span class="info-box-number"> <span class = "currency" > </span> <strong class="total_fare">0</strong> (<span class = "currency" > </span> <strong class = "per_vehicle_fare">0</strong> /Per Vehicle)</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class = "form-row">
                
              </div>
            </div>
            <div class="card-footer">
              <%= f.submit submit_button_text , class: "btn btn-primary" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<% if current_user.country.process == "prorate"%>
    <script type="text/javascript" charset="utf-8">
        $(document).on('turbolinks:load', function() {
            get_prorate_calculation();
        })
    </script>
<%end%>