<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class = "card-body">
          <div class="card">
            <div class="balance-header">
              <h1><%= @title %> Shipments</h1>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="shipments_listing" class="table table-bordered table-striped" >
                <thead>
                <tr>
                  <th>Shipment Number</th>
                  <% unless  display_bids_on_cargo_shipment_status.include? @title.to_s.downcase %>
                    <th>Number of Bids</th>
                  <%end %>
                  <th>Pickup Date</th>
                  <th>From </th>
                  <th>To </th>
                  <th>Fleet Details </th>
                  <th>Actions </th>
                </tr>
                </thead>
                <tbody>
                <% @shipments.each do |s|%>
                  <tr>
                    <td><%= s.id%></td>
                    <% unless  display_bids_on_cargo_shipment_status.include? @title.to_s.downcase %>
                      <td><%= s.bids.count%></td>
                    <%end %>
                    <td><%= local_time_format(s.pickup_time) rescue "" %>  <%=s.pickup_date.strftime(display_date_format) rescue ""%></td>
                    <td><%= s.pickup_full_address %></td>
                    <td><%= s.drop_full_address %></td>
                    <td><%=s.no_of_vehicles.to_s + "  X  "+ s.vehicle_type.name %></td>
                    <td>
                      <%= link_to "View",cargo_shipment_path(s) , class: "btn btn-success btn-flat block-btn btn-sm" %>
                      <% if ["accepted", "vehicle_assigned"].include?  s.state %>
                        <%= link_to "Cancel Shipment" ,cancel_cargo_shipment_path(s.id),remote: :true, class: "btn  btn-warning btn-flat btn-sm block-btn"  %>
                      <%end%>
                      <% if ["posted"].include?  s.state %>
                        <%= link_to 'Edit', edit_cargo_shipment_path(s) ,data: {confirm: "All currently received bids will be cancelled."}, class: "btn btn-info btn-flat btn-sm  block-btn" %>
                      <%end%>
                      <%# if ["cancel", "completed"].include? s.state %>
                          <%#= link_to "Download Invoice", invoice_path(id: s.id, format: :pdf),target: :_blank, class: "btn btn-warning btn-flat block-btn btn-sm" %>
                      <%#end%>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>