<%= form_for @shipment, url: update_destination_cargo_shipment_path(@shipment.id ) do |f|%>
    <div class="modal-dialog update-destination-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-holder" id="<%#@shipment.id%>">
            <div class="close-modal" data-dismiss="modal">
              <%= image_tag("close-modal.png")%>
            </div>
            <h1>Update Destination</h1>
            <div class="shipment-number">
              Shipment No. <%= @shipment.id%>
            </div>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-7">
                <div class="address-one">
                  <%= @shipment.pickup_full_address %>
                </div>
                <div class="address-two">
                  <%= @shipment.drop_full_address%>
                </div>
                <%= hidden_field_tag :current_drop_location , @shipment.drop_location%>
                <%= hidden_field_tag :current_drop_lat , @shipment.drop_lat %>
                <%= hidden_field_tag :current_drop_lng , @shipment.drop_lat%>
              </div>
            </div>
            <div class="destination-holder">
              <div class="row custom-row">
                <div class = "col-12">
                  <div class="form-group new-destination">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label "New Destination"%>
                    <%= f.text_field :drop_location, class: "form-control google_auto_complete", placeholder: "Dropoff Location*", required: true,onFocus: call_geolocate %>
                    <%= f.hidden_field :drop_lat %>
                    <%= f.hidden_field :drop_lng %>
                    <%= f.hidden_field :drop_city %>
                    <%= f.hidden_field :drop_building_name %>
                  </div>
                </div>
              </div>
              <div class="buttons-holder modal-btns clearfix">
                <%= f.submit "Save" , class: "submit-btn bidnow"%>
                <button class = "btn btn-outline-secondary btn-flat" data-dismiss = "modal">Cancel</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
<%end%>
<script>
  $("form.edit_shipment").submit(function () {
      if( $("#current_drop_location").val() == $("#shipment_drop_location").val() || $("#current_drop_lat").val() == $("#shipment_drop_lat").val() ||  $("#current_drop_lng").val() == $("#shipment_drop_lng").val() )
      {
          alert("Please select a different dropoff location!")
          return false;
      }
  })
</script>

