<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Shipments</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <%=form_for @shipment, url: cargo_shipment_path(@shipment.id) do |f|%>
      <%= render partial: "form_fields" , locals: {f: f, action: "Edit", submit_button_text: "Update Shipment"}%>
  <% end %>
</div>