<p id="notice"><%= notice %></p>

<h1>Cargo Shipments</h1>

<table data-page-length='10'>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipments.each do |cargo_shipment| %>
      <tr>
        <td><%= link_to 'Show', cargo_shipment %></td>
        <td><%= link_to 'Edit', edit_cargo_shipment_path(cargo_shipment) %></td>
        <td><%= link_to 'Destroy', cargo_shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Cargo Shipment', new_cargo_shipment_path %>


