<p id="notice"><%= notice %></p>
<div class="content-wrapper" style="min-height: 539px;" data-shipment-id="<%= @shipment.id %>" id="shipment_id">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "card-body">
          <div class="fleet-card">
            <%= hidden_field_tag :state , @shipment.state   %>
            <h1>Shipment No. <%=@shipment.id%></h1>
            <div class = "contact">
              <%if ["ongoing","cancel", "completed" ,"accepted"].include? @shipment.state %>
                <h1>
                  <span>
                    <i class = "fa fa-phone fa-lg"> </i>
                    <%=@shipment.fleet.company_contact rescue nil %>
                  </span>
                </h1>
              <% end %>
            </div>
            <div class="date-holder">
              <span class="aed">
                  <% if ["accepted", "posted"].include? @shipment.state %>
                    <%= link_to "Cancel Shipment" ,cancel_cargo_shipment_path(@shipment.id),remote: :true, class: "btn  btn-warning btn-flat block-btn"  %>
                    <%#= link_to "Cancel Shipment", cargo_shipment_path(@shipment.id, "shipment[state_event]" => :cancel), method: :patch, data: {confirm: 'Are you sure?'}, class: "btn  btn-warning btn-flat btn-sm" %>
                  <% end %>
                </span>
              <%= @shipment.display_date.strftime(display_date_format) rescue ""  %>
            </div>

            <div class = "row">
<!--              <div class ="col-sm-1"> </div>-->
              <div class ="col-lg-4">

              </div>
            </div>
            <div class="status-holder">
              Status: <span class="completed"><%=@shipment.state.humanize() rescue ""%></span>
            </div>
            <div class="fleet-row clearfix">
              <div class="fleet-col-left">
                <div class="bids">
                  <%unless ["ongoing","cancel", "completed" ,"accepted"].include? @shipment.state%>
                    <span class="bid-amount"> <span class="counter"><%= @shipment.bids.try(:count)%></span> Bids </span>
                  <%end%>
                  <span class="bid-vehicle">Pick up Date <br> <%= local_time_format(@shipment.pickup_time) rescue "" %>
                    <br> <%=@shipment.pickup_date.strftime(display_date_format) rescue ""%></span>
                </div>
                <% if (["ongoing", "vehicle_assigned"].include? @shipment.state) and @shipment.tracking_code.present? %>
                  <div class="tracking_number">
                    <label>Tracking Code:</label><br>
                    <%= @shipment.tracking_code %>
                  </div>
                <% end %>
              </div>
              <div class="fleet-col-right">
                <div class="address-outer">
                  <div class="address-one">
                    <%=@shipment.pickup_full_address%>
                  </div>
                  <div class="address-two">
                    <%=@shipment.drop_full_address%>
                    <%unless ["posted", "completed", "cancel", "accepted"].include? @shipment.state %>
                      <div class = "change_destination">
                        <%=link_to "Change Destination" ,
                                   update_destination_cargo_shipment_path(@shipment),
                                   remote: :true , class: "btn btn-flat btn-info btn-default"%>
                      </div>
                    <%end %>
                  </div>
                </div>
                <div class="truck-row">
                  <%=@shipment.no_of_vehicles.to_s + "  X  "+ @shipment.vehicle_type.name %>
                </div>
              </div>

            </div>
            <% if @shipment.state == "accepted"%>
                <div class="red" > <%= shipment_currency @shipment %>
                  <%= @shipment.cargo_cancel_penalty_charges.to_f.to_s + "/Per Vehicle
                   penalty charges will apply for cancellation within 24 hours of shipment pick up date." %></div>
            <%end%>
            <div class="payment-col">
              <%if @shipment.amount.present? %>
                <strong>Amount</strong>
                <span class="aed"><%= shipment_currency @shipment %>  <%= format_amount_to_currency @shipment.amount%></span>
              <% end %>
              <%if  ["ongoing" , "vehicle_assigned"].include? @shipment.state and  @shipment.detention.present? %>
                <strong>Detention</strong>
                <span class="aed"><%= shipment_currency @shipment %>  <%= format_amount_to_currency @shipment.detention%></span>
              <% end %>
              <span class="card-name"><%=@shipment.payment_option.try(:humanize) rescue ""%></span>
<!--              <span class="status">Payment</span>-->
            </div>

            <br>
            <div class = "container loading-times">
              <label>Loading Time:</label>
              <%=format_float @shipment.loading_time %> hrs<br>
              <label>Unloading Time:</label>
              <%=format_float @shipment.unloading_time %> hrs<br>
<!--              <label>Dropoff Date:</label>-->
<!--              <%#=@shipment.expected_drop_off.strftime(display_date_format) rescue "" %><br>-->
            </div>
          </div>
          <p>* All Bid amount/rates provided here are purely transportation cost only. Token and all other cost will be at actuals. For side loader if there is inspection there will be additional charges of AED 200 which will get added to transportation cost/Bid amount</p>
          <% unless ["ongoing","cancel","completed", "accepted", "vehicle_assigned"].include? @shipment.state %>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Bids Listing</h3>
              </div>
              <div class="card-body">
                <table id="shipment_bids" class="table table-bordered table-striped" data-page-length='10'>
                  <thead>
                  <tr>
                    <th>Bid Amount</th>
                    <th>Detentation per Vehicle per day</th>
                    <th>Rating</th>
                    <th>Actions </th>
                  </tr>
                  </thead>
                  <tbody>
                  <%# @shipment.bids.reverse.sort_by(&:status).each do |b|%>
                  <% @shipment.bids.sort_by {|bid| [bid.try(:company).try(:featured) ? 0 : 1 , bid.try(:company).try(:verified) ? 0 : 1 ]}.each do |b| %>
                      <% b.rejected? ?  klass = "rejected" : klass = ""%>
                      <tr class = "<%= klass %>">
                        <td><%= shipment_currency(b.shipment) rescue "" %> <%= format_amount_to_currency b.amount%></td>
                        <td><%= shipment_currency(b.shipment) rescue "" %> <%= format_amount_to_currency b.detention %>

                        </td>
                        <td>
                          <div class = "shipment-ratings">
                            <%rating = b.company.average_rating.to_i rescue 5 %>
                            <%= select_tag 'rating',
                                           options_for_select(["",1,2,3,4,5], rating) ,
                                           class: "rating" %>
                             <div class="rating-counter"><%= rated_by b.company %></div>
                          </div>
                          <% if b.company.featured?%>
                            <span class="pull-right badge badge-info  ">Featured
                              <i class="fa fa-check-circle"></i>
                            </span>
                          <%elsif b.company.verified?%>
                            <span class="pull-right badge badge-success">Verified
                                <i class="fa fa-check-circle"></i>
                              </span>
                          <%end%>
                        </td>
                        <td>
                          <%unless b.rejected? %>
                            <div>
                              <%= link_to "Accept",accept_cargo_bid_path(b.id, shipment_id: @shipment.id ) ,method: :post,data: { confirm: 'Are you sure?' }, class: "btn  btn-primary btn-flat block-btn"  %>
                              <%= link_to "Not Interested",reject_cargo_bid_path(b.id, shipment_id: @shipment.id ) ,method: :post,data: { confirm: 'Are you sure?' }, class: "btn  btn-danger block-btn  btn-flat"  %>
                            </div>
                          <%end%>
                        </td>
                      </tr>
                  <%end%>
                  </tbody>
                </table>
              </div>
            </div>
            <div id = "map" class = "ongoing-map">
            </div>
          <%else%>
            <%if @shipment.drivers.present? %>
              <div class = "card">
                <div class = "card-body">
                  <table id="shipments_listing" class="table table-bordered table-striped" data-page-length='10'>
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Truck Number</th>
                        <th>State</th>
<!--                        <th>Expected Drop Off</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <%@shipment.shipment_vehicles.each do |shipment_vehicle|%>
                        <tr>
                          <td><%= shipment_vehicle.try(:vehicle).try(:driver).try(:full_name) %></td>
                          <td><%= shipment_vehicle.try(:vehicle).try(:registration_number) %></td>
                          <td id="<%=shipment_vehicle.id %>"><%= shipment_vehicle.status.humanize rescue "" %></td>
<!--                          <td><%#= @shipment.expected_drop_off.strftime(display_date_format ) rescue "" %></td>-->
                        </tr>
                      <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
            <%end%>
            <% if @shipment.completed? %>
              <div class="fleet-name">
                <span>Fleet Owner:</span>
                <%= @shipment.try(:fleet).try(:company_name) %>
              </div>
            <%end%>
              <div>
                <%if ["completed","cancel"].include? @shipment.state%>
                  <%= render partial: "/shared/rating"%>
                <%end%>
              </div>
              <div id = "map" class = "ongoing-map">
              </div>
          <%end%>
        </div>
      </div>
    </div>
  </section>
</div>
<%if ["ongoing" , "vehicle_assigned"].include? @shipment.state %>
    <!--javascript_include_tag is not used because I want .erb interpretation-->
  <%= render partial: "/shared/location_pooling", locals: {user_type: "cargo"} %>
<%elsif ["cancel", "completed", "accepted", "posted"].include? @shipment.state%>
  <script>
    setTimeout(function () {
        initMap()
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        directionsDisplay.setMap(map);
        directionsService.route({
            origin: "<%= @shipment.pickup_lat %>, <%= @shipment.pickup_lng %>",
            destination: "<%= @shipment.drop_lat %>, <%= @shipment.drop_lng %>",
            optimizeWaypoints: true,
            travelMode: 'DRIVING'
        }, function(response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
            } else {
                console.log('Directions request failed due to ' + status);
            }
        });
    })
  </script>
<%end%>