<div class="receipt-modal-inner">
  <div class="close-modal">

  </div>
  <h1>Tax Invoice</h1>

  <div class="shipment-number">
    Shipment No. <%= @shipment.id  %> <span>Pick Up Date: <%= @shipment.pickup_date.strftime(display_date_format) rescue "" %></span>
    <% if @shipment.completed? && @shipment.completed_date %>
      <span>Delivery Date: <%= @shipment.completed_date.strftime(display_date_format) rescue "" %></span>
    <% elsif @shipment.cancel_date %>
      <span>Cancelled Date: <%= @shipment.cancel_date.strftime(display_date_format) rescue "" %></span>
    <% end %>
  </div>

  <div class="fleet-row clearfix">
    <div class="fleet-col-left">
      <div class="truck-row">
        <div class="bill"> <b>BILL TO</b> </div>
        <% if @shipment.completed? %>
          <%= render partial: "invoices/bill_to_fleet" %>
        <%elsif @shipment.cancel? && @shipment.cancel_by == "fleet_owner" %>
          <%= render partial: "invoices/bill_to_fleet" %>
        <%elsif @shipment.cancel? && @shipment.cancel_by == "cargo_owner" %>
          <%= render partial: "invoices/bill_to_cargo" %>
        <% end %>
      </div>
    </div>
    <div class="fleet-col-right pull-right">
      <div class="address-outer">
        <div class="bill"> <b>INVOICE DETAIL</b> </div>
        <div> Invoice Number : <%= @shipment.id %></div>
        <% if @shipment.invoice_date %>
          <div> Invoice Date : <%= @shipment.invoice_date.strftime(display_date_format) %></div>
        <% end %>
        <% if @shipment.due_date %>  
          <div> Due Date : <%= (@shipment.due_date) %></div>
        <% end %>
        <div> Currency : <%= shipment_currency @shipment%></div>

      </div>
    </div>
  </div>
  <div>
    <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: 100% !important;">
      <thead>
      <tr>
        <% columns = ["Sr. No.","Description","Amount (#{shipment_currency @shipment})"]
           columns.each do |col|
        %>
          <th><%= col %></th>
        <%end%>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td> 
            <% if @shipment.cancel? %>
              Cancel Penalty
            <% else %>
              Service Charges
            <% end %>
          </td>
          <td align='right'>
            <% if @shipment.cancel? %>
              <%= format_amount_to_currency @shipment.try(:cancel_penalty_after_tax_deduction) %> 
            <% else %>
              <%= format_amount_to_currency (@shipment.try(:lorryz_share_after_tax_deduction)) %> 
            <% end %>
          </td>
        </tr>  
        <tr>
          <td colspan="1" rowspan="3" > </td>
          <td > VAT @ <%= format_float @shipment.country.lorryz_share_tax %>% </td>
          <td align='right'>
            <% if @shipment.cancel? %>
              <%= format_amount_to_currency @shipment.try(:lorryz_share_tax_amount_on_cancel_panelty) %> 
            <% else %>
              <%= format_amount_to_currency @shipment.try(:lorryz_share_tax_amount).to_f %> 
            <% end %>
          </td>    
        </tr>

        <tr>
          <td > Total Amount </td>
          <td align='right'>
            <% if @shipment.cancel? %>
              <%= format_amount_to_currency @shipment.try(:cancel_penalty) %>
            <% else %>
              <%= format_amount_to_currency @shipment.try(:lorryz_share_amount).to_f %>
            <% end %>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
  <div class="cash-col">
   

    <div class="cash-row-fleet clearfix">
      <div > Bank Name : Emirates NBD </div>
      <div > Branch: Burjuman Branch - Bur Dubai </div>
      <div > Account Name : LORRYZ </div>
      <div > Account No.: XXXXX </div>
      <div > Swift Code: XXXXX </div>
      <div > IBAN: XXXXX </div>
      
    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="terms">
        <div class="center-terms term-first">TERMS AND CONDITIONS </div>
<div > 1. This invoice will be deemed valid, accurate and accepted unless any discrepancy/clarification is received within 72 hours of receipt.</div>
<div > 2. Invoice is due for payment on the Invoice Due Date. If the freight charges have not been paid on or before the due date, the customer, cargo owner, shipper will be liable for Interest and any consequence arising.</div>
<div > 3. For Cheque deposit, the deposit slip should be sent to LORRYZ on or before the due date. Cheque payment is subject to realization and Cheque clearance.</div>
<div > 4. For Bank Remittance/Transfers, all bank charges should be on remitter's account and full invoiced amount as per the invoice should be realized in LORRYZ bank account.</div>
<div > 5. All payment should be made in invoiced currency only.</div>

    <br>
    <br>
    <br>
    <div class="center-terms">****************************************************DISCLAIMER****************************************************</div>
    <div>
    This e-mail, message and any associated files/documents (together the “Contents”) are confidential and may contain private information or information that is subject to copyright or is a trade secret or which is legally privileged and intended solely for the addressee(s).  Views or opinions expressed herein do not necessarily represent views or opinions of LORRYZ Company, its agents or their affiliated companies and may only be the view or opinion of the author.  If you are not the intended receiver/recipient of this email/message and any associated files/documents, then please do not print, use, forward, disclose, distribute, copy, circulate or in any other way use the information contained in this transmission or act in reliance of the Contents. Such unauthorized use may be unlawful. If you have received this message in error, please notify us immediately by email and delete the message and destroy all copies of the message and any associated files.</div>
    <div>
    Internet communications may not be secure or error-free and may contain viruses or other malware associated with any email sent. Emails are susceptible to change. Recipients should run their own checks. LORRYZ shall not be responsible / liable for any losses.
    </div>
    <div class="center-terms">*********************************************************************************************************************</div>

    <div class="center-terms">This is computer generated invoice and require no signature</div>






  </div>
</div>
