<div id="map" class="bulk_geocode"></div>

<script data-turbolinks-eval="false">
    $(document).on('turbolinks:load', function () {
        if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position) {
                initMapWithCenter({lat: position.coords.latitude, lng: position.coords.longitude })
            },function (err) {
                initMapWithCenter({lat: <%= @user_country_coordinates[:lat] %> , lng: <%= @user_country_coordinates[:lng] %> })
                map.setZoom(7)
            })
        }

        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
          setMapOnAll(null);
        }

        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
        (function poller() {
            
               deleteMarkers();
            $.ajax({
                url: "<%= get_all_drivers_admin_users_path %>",
                type: "POST",
                success: function (data) {
                    console.log("------------------Cargo Index--------polling");
                    deleteMarkers();
                    setMapOnAll(map)
                    
                    $.each(data["coordinates"], function (index, value) {
                        var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Hello World!'
                        });
                         var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin_o.png",
                            map: map,
                            title: 'Hello World!'
                        });
                        if(value.is_online)
                         markers.push(marker)
                         else
                         markers.push(marker)
                        var infowindow = new google.maps.InfoWindow({
                            content: "<div class=\"map-pin-holder\">\n" +
                            "    <h1>Driver  Name. "+value.driver_name +"(" + value.is_online + ")</h1>\n" +
                            "    <div class=\"pin-row clearfix\">\n" +
                            "      <div class=\"fleet-col-left\">\n" +
                            "        <div class=\"truck-row\">\n" +
                            "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                            "          <span>"+value.type + "  #  "+ value.registration_number+"</span>\n" +
                            "        </div>\n" +
                            "        <div class=\"truck-number\">" + value.phone +
                                "</div>\n" +
                            "      </div>\n" +
                            "      <div class=\"fleet-col-right\">\n" +
                            "          <div class=\"address-outer\">\n" +
                            "              <div class=\"address-one\">\n" +
                            "                 "+value.lat+
                            "              </div>\n" +
                            "              <div class=\"address-two\">\n" +
                            "                  "+value.lng+
                            "              </div>\n" +
                            "          </div>\n" +
                            "    </div>\n" +
                            "    </div>\n" +
                            "  </div>"
                        });
                        marker.addListener('click', function() {
                            infowindow.open(map, marker);
                        });
                    })
                },
                dataType: "json",
            
                timeout: 2000
            })
        })();

    })

</script>