<div class = "table-responsive1">
  <table id = "individual" class="table table-striped table-hover dt-responsive display nowrap table-bordered table-striped admin_listings" data-page-length='10'>
      <%= individual_details_column_names users.try(:sample).try(:fleet_owner?) %>
    <tbody>
    <% users.each do |user|%>
        <tr>
          <td class="details-control">
            <%= user.full_name %>
          </td>
          <td><%= user.email %></td>
          <td><%= user.mobile %></td>
          <td><%= user.country.try(:name).try(:humanize)   %></td>
          <td><%= user.company.try(:individual_information).try(:national_id) %></td>
          <td><%= user.company.try(:individual_information).try(:expiry_date) %></td>
          <td class = "company_verified" id = <%= user.company.id %>>
            <%= check_box_tag :verified , user.company.verified? ,checked = user.company.verified?,"data-id": "#{user.company.id}", class: "company_verified form-control"  %>
          </td>
          <td class = "company_featured" id = <%= user.company.id %>  >
            <%= check_box_tag :featured , user.company.featured? ,checked = user.company.featured?,"data-id": "#{user.company.id}", class: "company_featured form-control" %>
          </td>
          <td class = "company_blacklisted" id = <%= user.company.id %> >
            <%= check_box_tag :blacklisted, user.company.blacklisted? , checked = user.company.blacklisted?,"data-id": "#{user.company.id}", class: "company_blacklisted form-control" %>
          </td>
          <%if user.cargo_owner? %>
            <td class = "company_safe_for_cash_on_delivery" id = <%= user.company.id %> >
              <%= check_box_tag :safe_for_cash_on_delivery, user.company.safe_for_cash_on_delivery? , checked = user.company.safe_for_cash_on_delivery?, "data-id": "#{user.company.id}", class: "company_safe_for_cash_on_delivery form-control" %>
            </td>
          <%end %>
            
          <td>
            <%= link_to "View", admin_show_user_path(user_id: user.id) , class: "btn btn-block btn-success" %>
            <%= link_to "Edit", admin_edit_user_path(user_id: user.id), class: "btn btn-block btn-info" %>
          </td>
        </tr>
    <%end%>
    </tbody>
  </table>
</div>