<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class = "card-body">
          <div class="card">
            <div class="card-header p-0">
              <div class = "row">
                <h3 class="card-title p-3 col-3"><%= user_type %> Owners</h3>
                <div class = "col-9"></div>
              </div>
              
              <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item"><a class="nav-link active show" href="#tab_1" data-toggle="tab">Individual</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Company</a></li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active show" id="tab_1">
                  <%= render partial: "individual_details_table", locals: {users: users.select{|c| c.company.try(:company_type) == "individual"}, user_type: user_type}%>
                </div>
                <div class="tab-pane" id="tab_2">
                  <%= render partial: "company_details_table", locals: {users: users.select{|c| c.company.try(:company_type)== "company"}, user_type: user_type}%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

