<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><%= @user.try(:role).try(:humanize)%> Details</h3>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
              <%= form_for @user , url: admin_update_user_path(user_id: @user.id) do |f| %>
                <div class="form-group has-feedback">
                  <%= f.label :first_name, "First name" %>
                  <%= f.text_field :first_name, autofocus: true,required: true, autocomplete: "First name",class: "form-control", placeholder: "First name" %>
                  <!--<span class="fa fa-user form-control-feedback"></span>-->
                </div>
                <div class="form-group has-feedback">
                  <%= f.label :last_name%>
                  <%= f.text_field :last_name, autofocus: true,required: true, autocomplete: "last name",class: "form-control", placeholder: "Last name" %>
                  <!--<span class="fa fa-user form-control-feedback"></span>-->
                </div>
                <div class="form-group has-feedback">
                  <%= f.label :email%>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" ,placeholder:  "Email"%>
                  <!--<span class="fa fa-envelope form-control-feedback"></span>-->
                </div>
                <div class="form-group">
                  <%= f.label :country_id, 'Country'%>
                  <%= f.collection_select(:country_id, Country.all, :id, :display_name,{:prompt => "Country"}, { class: "form-control"} )%>
                  <!--<i class="fa fa-address-card"></i>-->
                </div>
                <div class="form-group has-feedback">
                  <%= f.label :mobile %>
                  <%= f.text_field :mobile , type: :tel,class: "form-control" ,placeholder:  "Phone number"%>
                </div>
                  <%= f.fields_for "company" do |f| %>
                    <% if @user.cargo_owner? %>
                      <div class="form-group has-feedback">
                        <%= f.label :credit_period, "Credit period (Days)" %>
                        <%= f.text_field :credit_period, class: "form-control", placeholder: "Credit Period (Days)" %>
                      </div>
                      <div class="form-group has-feedback">
                        <%= f.label :credit_amount%>
                        <%= f.text_field :credit_amount, class: "form-control", placeholder: "Credit Amount" %>
                      </div>
                      <div class = "form-group">
                        <label>
                          <%= f.check_box :is_contractual, class: "", value: @user.try(:company).try(:is_contractual) %>
                          Contractual
                        </label>
                      </div>
                    <% elsif @user.fleet_owner? %>
                      <div class="form-group has-feedback">
                        <%= f.label :tax_registration_no , "Tax Registration Number"%>
                        <%= f.text_field :tax_registration_no , class: "form-control", placeholder: "Tax Registration Number" %>
                      </div>
                    <%end%>
                  <%end%>
                  <% if @company_information.present? %>
                    <%= f.fields_for "company[company_information]" do |f| %>
                      <div class = "form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name ,class: "form-control" , placeholder: "Name", value: @company_information.name%>
                      </div>
                      <div class = "form-group">
                        <%= f.label :address %>
                        <%= f.text_field :address ,class: "form-control", placeholder: "address" , value: @company_information.address%>
                      </div>
                      <div class = "form-group">
                        <%= f.label :landline_no %>
                        <%= f.text_field :landline_no ,class: "form-control", placeholder: "landline_no".humanize, value: @company_information.landline_no%>
                      </div>
                      <div class = "form-group">
                        <%= f.label :website_address %>
                        <%= f.text_field :website_address ,class: "form-control", placeholder: "website_address".humanize , value: @company_information.website_address%>
                      </div>
                      <div class = "form-group">
                        <%= f.label :license_number %>
                        <%= f.text_field :license_number ,class: "form-control", placeholder: "license_number".humanize, value: @company_information.license_number%>
                      </div>
                      <div class = "form-group">  
                        <%= f.label :license_expiry_date %>
                        <%= f.text_field :license_expiry_date ,class: "form-control", placeholder: "license_expiry_date".humanize , value: @company_information.license_expiry_date%>
                      </div>
                      <div class = "form-group">
                        <%= f.label :secondary_contact_name %>
                        <%= f.text_field :secondary_contact_name ,class: "form-control", placeholder: "secondary_contact_name".humanize , value: @company_information.secondary_contact_name%>
                      </div>
                      <div class = "form-group">
                        <%= f.label :secondary_mobile_no %>
                        <%= f.text_field :secondary_mobile_no ,class: "form-control", placeholder: "secondary_mobile_no".humanize , value: @company_information.secondary_mobile_no%>
                      </div>
                    <%end%>
                  <%elsif @individual_information.present?%>
                    <%= f.fields_for "company[individual_information]" do |f| %>
                      <div class = "form-group">
                        <%= f.label :secondary_mobile_no %>
                        <%= f.text_field :secondary_mobile_no ,class: "form-control",placeholder: "secondary_mobile_no".humanize , value: @individual_information.secondary_mobile_no %>
                      </div>
                      <div class = "form-group">
                        <%= f.label :landline_no %>
                        <%= f.text_field :landline_no ,class: "form-control",placeholder: "landline_no".humanize , value: @individual_information.landline_no %>
                      </div>
                      <div class = "form-group">
                        <%= f.label :national_id , "National Id" %>
                        <%= f.text_field :national_id ,class: "form-control",placeholder: "National Id", value: @individual_information.national_id %>
                      </div>
                      <div class = "form-group">
                        <%= f.label :expiry_date %>
                        <%= f.text_field :expiry_date ,class: "form-control",placeholder: "expiry_date".humanize , value: @individual_information.expiry_date %>
                      </div>
                      <%#= render partial: "/companies/attachments" , locals: {f: f , info: @individual_information }%>
                    <%end%>
                  <%end%>
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Update</button>
                  </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>