<div class="form-row">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :first_name%>
  <%= f.text_field :first_name, autofocus: true,pattern:  "[A-Za-z ]{1,32}", title: "Only alphabets are allowed",required: true, autocomplete: "First name",class: "input-field", placeholder: "*First name" %>
</div>
<div class="form-row">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :last_name%>
  <%= f.text_field :last_name, autofocus: true,required: true,pattern:  "[A-Za-z ]{1,32}",title: "Only alphabets are allowed",autocomplete: "*Last name",class: "input-field", placeholder: "*Last name" %>
</div>

<div class="form-row">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :mobile%>
  <%= f.text_field :mobile , type: :tel,class: "input-field" ,placeholder:  "*Phone number" , required: true%>
</div>

<div class="form-row">
  <%= f.label :email%>
  <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "input-field" ,placeholder:  "Email" %>
</div>

<div class="form-row">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :password%>
  <%= f.password_field :password, autocomplete: "new-password", class: "input-field" ,placeholder:  "*Password" , required: true%>

</div>
<div class="form-row clearfix">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :country_id, "Country"%>
  <div class="selectCity">
    <%= f.collection_select(:country_id, Country.all, :id, :display_name,{:prompt => "*Country"}, { class: "form--control-",required: true} )%>
  </div>
</div>
<div class="form-row radio-btns">
  <span>Join as</span>
  <div class="radio">
    <%= f.radio_button :role , "3",class: "form-check-input" , value: "3" , required: true%>
    <label for="user_role_3">Cargo Owner</label>
  </div>
  <div class="radio">
    <%= f.radio_button :role ,"4", class: "form-check-input" , value: "4", required: true%>
    <label for="user_role_4">Fleet Owner</label>
  </div>
</div>
<div class="form-row radio-btns">
  <span>I am a/an</span>
  <%= f.fields_for :company do |f| %>
      <div class="radio">
        <%= f.radio_button :company_type,:Individual, class: "form-check-input" , required: true%>
        <%= f.label :Individual ,class: "-form-check-label", for: "user_company_attributes_company_type_individual"%>
      </div>
      <div class="radio">
        <%= f.radio_button :company_type,:Company, class: "form-check-input" , required: true%>
        <%= f.label :company_type,:Company, class: "-form-check-label" , for: "user_company_attributes_company_type_company"%>
      </div>
  <%end%>
</div>
<div class="form-row">
  <div class="checkbox checkbox-success">
    <%= f.check_box  :terms_accepted , class: "styled" ,id: "user_terms_accepted" , required: true%>
<!--    <input id="checkbox3" class="styled" type="checkbox" , name="" required>-->
    <label for="user_terms_accepted">I confirm, I am above 18 years of age and
      I agree to the <span> <%= link_to "Terms and Conditions", terms_and_conditions_dashboard_index_path %></span> and <span> <%= link_to "Privacy Policy" , privacy_policy_dashboard_index_path %></span> </label>
  </div>
</div>
<div class="form-row">
  <input type="submit" name="" value="Sign Up" class="submit-btn form-submit">
</div>
<div class="form-row1">
  <%= render "users/shared/links" %>
</div>