<div class = "form-group has-feedback attachment">
  <%= f.hidden_field :documents, multiple: true, class: "js-signed-upload-value"  %>
  <input type="file" class="js-signed-upload" multiple data-presign-url="<%=  presign_upload_companies_path %>" />
    <div class = "attached_files container">
    <p class="js-signed-upload-status">
      <% if f.object.documents.present? %>
        <ul class = "documents_list">
          <%f.object.documents.each do |doc|%>
              <li>
                <a target="_blank" href="<%= doc %>">
                  <span class="remove_thumbnail">x</span>
                  <img src="<%= doc %>" alt="document" class = "document_thumbnail">
                </a>
              </li>
          <%end%>
        </ul>
    <% end %>
    </p>
  </div>
</div>
<script>
  $(".remove_thumbnail").click(function (e) {
      e.preventDefault()
      value = $(this).parents(".form-group").find(".js-signed-upload-value").val()
      value = value.split(" ")
      remove_url = $(this).parents("a").attr("href")
      index = value.indexOf(remove_url)
      value.splice(index, 1)
      $(this).parents(".form-group").find(".js-signed-upload-value").val(value.join(" "))
      $(this).parents("a").addClass("hide")
  })
</script>
