
<div class="map-form-bg1 content-wrapper">
  <div class="waiting-trucks <%= @edit ==  true ? 'hide': ''%> hide">
<!--    <span>4,000</span> ! trucks waiting to take your cargo-->
  </div>
  <div class="map-form">
    <h2 class="login-box-msg"><strong><%=@info.company.category.capitalize%> Owner</strong> (Company)</h2>
   <%= form_for(@info, url: add_company_information_companies_path) do |f| %>
    <%= render partial: "/companies/avatar", locals: {f: f,  info: @info} %>
    <div class="form-row">
      <%= f.label "*" , class: "label_required"%>
      <%= f.label "Company Name", "Company Name"%>
      <%= f.text_field :name, autofocus: true,required: true, autocomplete: "Company name",class: "input-field", placeholder: "*Company name" %>

    </div>
    <div class="form-row">
      <%= f.label "*" , class: "label_required"%>
      <%= f.label "Company Address", "Company Address"%>
      <%= f.text_field :address, autofocus: true,required: true, autocomplete: "Company Address",class: "input-field", placeholder: "*Company Address" %>
    </div>

    <div class="form-row">
      <%= f.label "*" , class: "label_required"%>
      <%= f.label "Company's Landline No.", "Company's Landline No."%>
      <%= f.text_field :landline_no, autofocus: true, autocomplete: "landline_no",class: "input-field" ,placeholder:  "*Company's Landline No." , required: true%>
    </div>

    <div class="form-row">
      <%= f.label "Company's Website Address","Company's Website Address"%>
      <%= f.text_field :website_address, autocomplete: "website_address", class: "input-field" ,placeholder:  "Company's Website Address" %>
    </div>

    <div class="form-row">
      <%= f.label "*" , class: "label_required"%>
      <%= f.label "Company's License Number", "Company's License No."%>
      <%= f.text_field :license_number , autocomplete: "license_number", class: "input-field" ,placeholder:  "*Company's License Number" , required: true%>
    </div>
    <% if current_user.fleet_owner? %>
      <div class="form-row">
        <%= label_tag "company[tax_registration_no]" , "Tax Registration No." %>
        <%= text_field_tag "company[tax_registration_no]", current_user.company.tax_registration_no,autocomplete: "tax_registration_no", class: "input-field", placeholder: "Tax Registration No." %>
      </div>
    <% end %>
    <div class="form-row">
      <%= f.label "*" , class: "label_required"%>
      <%= f.label "License Expiry Date" , "License Expiry Date"%>
      <%= f.text_field :license_expiry_date , autocomplete: "license_expiry_date", class: "input-field datepicker" ,placeholder:  "*License Expiry Date" , required: true%>
    </div>

    <div class="form-row">
      <%= f.label "*" , class: "label_required"%>
      <%= f.label "Secondary Contact Person Full Name" , "Secondary Contact Person Full Name"%>
      <%= f.text_field :secondary_contact_name , autocomplete: "secondary_contact_name", class: "input-field" ,placeholder:  "*Secondary Contact Person Full Name" , required: true%>
    </div>

    <div class="form-row">
      <%= f.label "*" , class: "label_required"%>
      <%= f.label "Secondary Contact Person Mobile Number", "Secondary Contact Person Mobile No."  %>
      <%= f.text_field :secondary_mobile_no , autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Secondary Contact Person Mobile Number" , required: true%>
    </div>
    <div class="form-row">
      <label>Upload scanned copy of your License</label>
      <%= render partial: "/companies/attachments", locals: {f: f,  info: @info} %>
    </div>
    <div class="form-row">
      <div class="col-8 sign_up_terms">
        <div class="checkbox icheck">
          <label>
            <%=f.check_box :news_update , {checked: (@info.new_record? or @info.news_update?)}%>
             Please send me product updates, news, tips, events, industry insights etc. regularly.
          </label>
        </div>
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat"><%= @edit == true ? "UPDATE" : "SAVE" %></button>
      </div>
    </div>

  <% end %>
  </div>
</div>




