
<div class="content-wrapper map-form-bg1">
  <div class="waiting-trucks <%= @edit ==  true ? 'hide': ''%> hide">
<!--    <span>4,000</span> ! trucks waiting to take your cargo-->
  </div>
  <div class="map-form">
      <h2 class="login-box-msg"><strong><%=@info.company.category.try(:capitalize)%> Owner</strong> (Individual)</h2>
      <%= form_for(@info, url: add_individual_information_companies_path) do |f| %>
          <%#= render 'layouts/error_messages', object: @info %>
          <%= render partial: "/companies/avatar", locals: {f: f,  info: @info} %>
          <% if current_user.fleet_owner? %>
            <div class="form-row">
              <%= label_tag "company[tax_registration_no]", "Tax Registration No." %>
              <%= text_field_tag "company[tax_registration_no]", current_user.company.tax_registration_no, autocomplete: "tax_registration_no", class: "input-field", placeholder: "Tax Registration No." %>
            </div>
          <% end %>
          <div class="form-row">
            <%= f.label "Secondary Mobile No", "Secondary Mobile No."%>
            <%= f.text_field :secondary_mobile_no, autofocus: true, autocomplete: "secondary_mobile_no",class: "input-field", placeholder: "Secondary Mobile No" %>
          </div>
          <div class="form-row">
            <%= f.label "Landline No.", "Landline No."%>
            <%= f.text_field :landline_no, autofocus: true, autocomplete: "landline_no",class: "input-field" ,placeholder:  "Landline No." %>
          </div>
          <div class="form-row">
            <label class="label_required">* </label>
            <label> Emirates ID No.</label>
            <%= f.text_field :national_id, autocomplete: "national_id", class: "input-field" ,placeholder:  "*Emirates ID No. " , required: true%>
          </div>
          <div class="form-row">
            <%= f.label "*" , class: "label_required"%>
            <%= f.label "Expiry Date", "Expiry Date"%>
            <%= f.text_field :expiry_date , autocomplete: "datepicker expiry_date", class: "datepicker input-field" ,placeholder:  "*Expiry Date" , required: true%>            
          </div>
          <label>Upload Front & Back side of Emirates ID</label>
          <%= render partial: "/companies/attachments", locals: {f: f,  info: @info} %>
          <div class="col-12 sign_up_terms">
              <div class="checkbox icheck">
                <label>
                  <%=f.check_box :news_update , {checked: (@info.new_record? or @info.news_update?)}%>Please send me product updates, news, tips, events, industry insights etc. regularly.
                </label>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat"><%= @edit == true ? "UPDATE" : "SAVE" %></button>
            </div>
      <%end%>
    </div>
  </div>
</div>
</body>