<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Countries</h3>
              <%#= render partial: "/shared/download_excel" %>
              <br>
              
              <%= link_to "Add New Country" , new_admin_country_path , class: "btn btn-flat btn-success pull-right  add_country"%>
            </div>
            <div class = "card-body">
            <table class="table table-bordered table-striped admin_listings" data-page-length='10'>
              <thead>
              <tr>
                <% columns = ["name", "status", "process", "commision","Fleet owner income tax", "currency", "penalty_free_hours","Actions"]
                   columns.each do |col|
                %>
                  <th><%= col.humanize %></th>
                <%end%>
              </tr>
              </thead>
              <tbody>
              <% @countries.each do |country|%>
                  <tr>
                    <td><%= country.try(:name) %></td>
                    <td><%= country.try(:status) == true ? "Active" : "Inactive" %></td>
                    <td><%= country.try(:process) %></td>
                    <td><%= country.try(:commision) %></td>
                   <td><%= country.try(:fleet_owner_income_tax) %></td>
                    <td><%= country.try(:currency) %></td>
                    <td><%= country.try(:penalty_free_hours) %></td>
                    <td>
                      <%= link_to "Edit", edit_admin_country_path(country), class: "block-btn btn btn-info btn-flat" %>
                    </td>
                  </tr>
              <%end%>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>