<p>Hello,</p>
<p>
  <br>
  This is to notify that, shipment # <%= @shipment.id %> has been started.
  <br>
  <b>Cargo Owner:</b> <%= @shipment.try(:company).try(:cargo_owner).try(:first_name) %> <%= @shipment.try(:company).try(:cargo_owner).try(:last_name) %>
  <br>
  <b>Cargo Owner Phone No.:</b> <%= @shipment.try(:company).try(:cargo_owner).try(:mobile) %>
  <br>
  <b>Pickup Location:</b> <%= @shipment.pickup_location %>
  <br>
  <b>Dropoff Location:</b> <%= @shipment.drop_location %>
  <br>
  <b>Type of Vehicle:</b> <%= @shipment.try(:vehicle_type).try(:name) %>
  <br>
  <b>Commodity:</b> <%= @shipment.cargo_description %> packing type <%= @shipment.cargo_packing_type %>
  <br>
  <b>Accepted Fleet Owner Name:</b> <%= @shipment.try(:fleet).try(:fleet_owner).try(:first_name)%> <%= @shipment.try(:fleet).try(:fleet_owner).try(:last_name)%>
  <br>
  <b>Accepted Fleet Owner Mobile:</b> <%= @shipment.try(:fleet).try(:fleet_owner).try(:mobile) %>
  <br>
  <b>Bid Amount:</b> <%= number_with_precision(@shipment.amount, precision: 2)  %>
</p>
<br>
<p>Best,</p>
<br>
<p>Lorryz</p>