<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Edit Shipment</h3>
            </div>
            <%=form_for @shipment, url: admin_shipment_path(@shipment.id) do |f|%>
                <div class="card-body">
                  <%if @shipment.try(:company).try(:is_contractual?) %>
                    <div class="form-group">
                      <%= f.label "New Destination without Contract"%>
                      <%= f.collection_select :location_id ,@shipment.company.locations, :id,:contractual_locations ,{include_blank: "New Destination without Contract"},{class: "form-control" , onchange: "populate_data()"} %>
                    </div>
                  <%end%>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :pickup_location %>
                    <%=f.text_field :pickup_location , class: "form-control google_auto_complete" , placeholder: "Pick up Location*", required: true, onFocus: call_geolocate %>
                    <%=f.hidden_field :pickup_lat %>
                    <%=f.hidden_field :pickup_lng %>
                    <%=f.hidden_field :pickup_city %>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :pickup_building_name, "Pickup Location Name" %>
                    <%=f.text_field :pickup_building_name , class: "form-control" , placeholder: "Pickup Location Name", required: true %>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :pickup_date %>
                    <%=f.text_field :pickup_date , class: "form-control datepicker" , placeholder: "Pick up Date*" , required: true%>
                  </div>
                  <div class="bootstrap-timepicker">
                    <div class="form-group">
                      <%= f.label "*" , class: "label_required"%>
                      <%= f.label :pickup_time %>
                      <div class="input-group">
                        <%= f.text_field :pickup_time , class: "form-control timepicker" , placeholder: "Pick up Time*", required: true %>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :loading_time %>
                    <%=f.text_field :loading_time , placeholder: "Loading Time*", class: "form-control",  required: true%>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :drop_location, "Dropoff Location" %>
                    <%=f.text_field :drop_location , class: "form-control google_auto_complete" , placeholder: "Dropoff Location*" , required: true , onFocus: call_geolocate%>
                    <%=f.hidden_field :drop_lat %>
                    <%=f.hidden_field :drop_lng %>
                    <%=f.hidden_field :drop_city %>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :drop_building_name, "DropOff Location Name" %>
                    <%=f.text_field :drop_building_name , class: "form-control" , placeholder: "DropOff Location Name", required: true %>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :unloading_time %>
                    <%=f.text_field :unloading_time , placeholder: "Unloading Time*", class: "form-control" , required: true%>
                  </div>
<!--                  <div class="form-group">-->
                    <%#= f.label :expected_drop_off %>
                    <%#=f.text_field :expected_drop_off , class: "form-control datepicker" , placeholder: "Expected Dropoff Date" %>
<!--                  </div>-->
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :vehicle_type_id, "Vehicle Type" %>
                    <%= f.collection_select :vehicle_type_id, @vehicle_types, :id, :name,{include_blank: "Specify Type of Truck Required?"},{class: "form-control" , required: true} %>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :no_of_vehicles %>
                    <i class="fa fa-question-circle fa-1x" data-placement =  "right"  title= "Need to book more than 20 trucks"></i>
                    <div class = "input-group">
                      <%=f.select :no_of_vehicles , Shipment::NO_OF_VEHICLES ,{include_blank: "Number of Trucks Required?"}, {class: "form-control", "data-placement": "right" ,title: "Need to book more than 20 trucks", required: true}%>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :cargo_description %>
                    <%=f.text_area :cargo_description , class: "form-control", placeholder: "Cargo Description*", required: true%>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :cargo_packing_type %>
                    <%=f.select :cargo_packing_type , Shipment::CARGO_PACKING_TYPES ,{include_blank: "Cargo Packaging Type*"}, {class: "form-control", required: true}%>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :payment_option %>
                    <!--[[ "Pay by Credit/Debit Card",:credit_card ],-->
                    <%=f.select :payment_option ,@shipment.company.get_payment_options ,{include_blank: "Choose Payment Options*"}, {class: "form-control", required: true}%>
                  </div>
                  <div class = "row prorate hide">
                    <div class="col-md-12 col-sm-6 col-12">
                      <div class="info-box bg-info">
                        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">Estimated Approx. Fare</span>
                          <span class="info-box-number"> <span class = "currency" > </span> <strong class="total_fare">0</strong> (<span class = "currency" > </span> <strong class = "per_vehicle_fare">0</strong> Vehicle)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <%= f.submit "Update" , class: "btn btn-primary" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
