<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-sm-7" >
          <div class="card">
            <div class="card-header">
              <div class="row">
              <div class="col-md-3"><h3 class="card-title"> User Details</h3></div>
              <div class="col-md-9"><%= link_to "Online Durations" , url_for('/admin/reports/online_duration/?user_id='+@user.try(:id).to_s) , class: "btn btn-flat btn-success pull-right" %></div>
              </div>

            </div>
            <div class="list-group" style="padding: 10px;">
             <li class="list-group-item">  <label> Id </label> <span class="float-right"> <%= @user.try(:id) %> </span>
             </li>
             <li class="list-group-item">  <label> Email </label> <span class="float-right"> <%= @user.try(:email) %> </span>
             </li>

             <li class="list-group-item">  <label> First Name </label> <span class="float-right"> <%= @user.try(:first_name) %> </span>
             </li>
             <li class="list-group-item">  <label> Last Name </label> <span class="float-right"> <%= @user.try(:last_name) %> </span>
             </li>
             <li class="list-group-item">  <label> Mobile </label> <span class="float-right"> <%= @user.try(:mobile) %> </span>
             </li>
              <%unless @user.admin? or @user.superadmin? %>
                <li class="list-group-item">  <label> Company </label> <span class="float-right"> <%= @user.try(:company).try(:category) %> </span>
                </li>
              <%end %>
             <li class="list-group-item">  <label> Role </label> <span class="float-right"> <%= @user.try(:role).try(:humanize) %> </span>
             </li>
             <li class="list-group-item">  <label> Mobile Verified </label> <span class="float-right"> <%= @user.try(:mobile_verified).try(:humanize)  %> </span>
             </li>
              <li class="list-group-item">  <label> Email Verified </label> <span class="float-right"> <%= @user.confirmed? ? "Verified" : "Unverified"  %> </span>
              </li>
<!--             <li class="list-group-item">  <label> Verification Code </label> <span class="float-right"> <%#= @user.try(:verification_code)%> </span>-->
<!--             </li>-->
             <li class="list-group-item">  <label> Terms Accepted </label> <span class="float-right"> <%= @user.try(:terms_accepted) %> </span>
             </li>
             <li class="list-group-item">  <label> Country </label> <span class="float-right"> <%= @user.try(:country).try(:name) %> </span>
             </li>
             <li class="list-group-item">  <label> Last Signed In </label> <span class="float-right"> <%= @user.last_sign_in_at.strftime(excel_date_format) rescue ""%> </span>
             </li>
             <li class="list-group-item">  <label> Created At </label> <span class="float-right"> <%= @user.try(:created_at).strftime(display_date_format) %> </span>
             </li>
             <li class="list-group-item">  <label> Updated At </label> <span class="float-right"> <%= @user.try(:updated_at).strftime(display_date_format) %> </span>
             </li>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>