<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Blogs</h3>
              
              <br>
              <%= link_to "Add New Blog" , new_admin_blog_path , class: "btn btn-flat btn-success pull-right add_new_blog"%>
            </div>
            <div class = "card-body">
              <table class="table table-bordered table-striped admin_listings" data-page-length='10'>
                <thead>
                <tr>
                  <% columns = ["Title", "Initial Text", "Actions"]
                     columns.each do |col|
                  %>
                    <th><%= col %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @blogs.sort_by {|b| b.id}.each do |blog|%>
                  <tr>
                    <td><%= blog.try(:title) %></td>
                    <td><%= blog.try(:initial_summary) %></td>
                    <!--<td><%= sanitize blog.try(:description) %></td>-->
                    <!--<td>
                    <% if blog.avatar.attached? %>
                        <image src="<%= url_for(blog.avatar)%>"></image>  
                    <% end %>
                    </td>-->
                    <td>
                      <%= link_to "Edit", edit_admin_blog_path(blog), class: "btn btn-info btn-flat block-btn" %>
                      <%#= link_to "Delete", admin_vehicle_type_path(vehicle_type ),method: :delete, data: { confirm: 'Are you sure?' }, class: "block-btn btn btn-warning btn-flat block-btn" %>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>