<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <a href="/" class="brand-link logo">
   
    <span class="brand-text font-weight-light"><%= current_user.role.humanize.split(" ").first rescue "" %></span>
  </a>

  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <% klass = "menu-open" if @title.present?%>
    <li class="nav-item has-treeview <%= klass%>">
      <a href="#" class="nav-link <%= klass == 'menu-open' ? 'active' : ''  %>">
        <i class="nav-icon fa fa-dashboard"></i>
        <p>
          Shipments
          <i class="right fa fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
            <%= link_to new_cargo_shipment_path , class: "nav-link #{@new}" do%>
              <i class="fa fa-circle-o nav-icon"></i>
              <p>New</p>
            <%end%>
        </li>
        <li class="nav-item">
          <%= link_to posted_cargo_shipments_path, class: "nav-link #{@posted}" do%>
            <i class="fa fa-circle-o nav-icon"></i>
            <p>Posted</p>
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to upcoming_cargo_shipments_path , class: "nav-link #{@upcoming} #{@accepted} #{@vehicle_assigned}" do%>
            <i class="fa fa-circle-o nav-icon"></i>
            <p>Upcoming</p>
          <%end%>
        </li>
        <li class="nav-item">
            <%= link_to ongoing_cargo_shipments_path , class: "nav-link #{@ongoing}" do%>
              <i class="fa fa-circle-o nav-icon"></i>
              <p>Ongoing</p>
            <%end%>
        </li>

        <li class="nav-item">
          <%= link_to completed_cargo_shipments_path , class: "nav-link #{@completed} #{@cancel}" do%>
            <i class="fa fa-circle-o nav-icon"></i>
            <p>Completed</p>
          <%end%>
        </li>
      </ul>
    </li>
    
    <li class="nav-item">
      <%= link_to cargo_payments_path , class: "nav-link #{@payment}" do%>
        <i class="fa fa-money  nav-icon"></i>
        <p>Payments</p>
      <%end%>
    </li>
  </ul>

</aside>