<div class="header-holder">
  <div class="header-container">
    <div class="row">
      <div class="col-8 col-sm col-md-3">
        <div class="logo">
          <h2 style="padding:0;margin:0;color:#fff;">Nucleus Track</h2>
        </div>
      </div>
      <div class="col-4 col-sm col-md-9">
      	<div class="menu-btn">
            <div class="navi-icon right-menu">
             <span></span>
             <span></span>
             <span></span>
             <span></span>
           </div>
        </div>
        <div class="navigation-holder">
          <ul class="navigation">
            <% if user_signed_in? %>
            <li> <a  class="page-scroll" style="color:#fff;" href="<%= dashboard_index_path %>">Home</a> </li>
            <% else %>
            <li> <a  class="page-scroll" style="color:#fff;" href="<%= params[:action] == 'home' ? '/#home': request.base_url+'#home'%>">Home</a> </li>
            <% end %>
           
            <%if current_user.present? %>
              <li><a  class="page-scroll" style="color:#fff;" href="<%= dashboard_index_path %>" class="">Dashboard</a></li>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete%></li>
            <%else%>
              <%#debugger %>
              <li><a  class="page-scroll" style="color:#fff;"  <%= request.path == "/users/sign_in" ? "active" : "" %>" href="<%= user_session_path %>">login</a></li>
             
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>