<%# unless signup? %>
<% if current_user.cargo? or current_user.cargo_owner?  %>
    <%= render partial: "layouts/cargo_nav" %>
  <% else #if current_user.fleet? or current_user.fleet_owner? %>
    <%= render partial: "layouts/fleet_nav" %>  
  <%end%>  
<%# end %>


