<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t 'title' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= favicon_link_tag('favicon-32x32.png') %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP3epZDI0iuS9xOLgJErrAkfALAL2dQYQ&libraries=places&callback=initMap"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 7]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- view port -->
    <meta name="turbolinks-visit-control" content="reload">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
  </head>

  <body <% if content_for?(:body_attributes) %>
        <%= yield(:body_attributes) %>
        <% end %>>
    <%= render partial: "layouts/google_analytics"%>
    <%= render partial: "layouts/header" %>
    <%= render partial: "layouts/flash" %>
    <%= yield %>
    <%= render partial: "layouts/footer" %>
    <%= render partial: "layouts/contact_us" %>
  </body>

</html>
