
<div class="map-form-bg">
  <%=render partial: "users/shared/waiting_trucks"%>
  <div class="map-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h2>Register a New Account</h2>
      <%= render 'layouts/error_messages', object: resource %>
      <%= render partial: "users/shared/registration_form" , locals: {f: f}%>
  <% end %>

  </div>
</div>

